<h1> Admin </h1>

<br/>
<br/>
<h2> Manage Pages</h2>
<br/><br/>
<%= link_to "All pages", pages_path %>
<br/><br/>
<%= link_to "Add new page", new_page_path %>
<br/><br/>
<h2> Manage Contacts</h2>
<br/><br/>
<%= link_to "All Contacts", contacts_path %>